<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Formulario de cliente</title>
	</head>
	<body>
		<header id="encabezado">
			<h1>Registro de Cliente</h1>
			<link rel="stylesheet" href="../static/css/estilos.css">
		</header>
		
		<form action="#" method="post" id="formulario"> 
			<label for="dni">DNI:</label>
			<input type="number" id="dni" name="dni" required="required"><br>
			
			<label for="names">Nombres:</label>
			<input type="text" id="names" name="names" required><br>
			
			<label for="surname">Apellidos:</label>
			<input type="text" id="surname" name="surname" required><br>
			
			<label for="fechaNac">Fecha de nacimiento:</label>
			<input type="date" id="fechaNac" name="fechaNac" required><br>
			
			<label for="genero">GENERO</label><br>
			<label for="masculino">Masculino</label>
			<input type="radio" id="masculino" name="genero"><br>
			<label for="femenino">Femenino</label>
			<input type="radio" id="femenimo" name="genero"><br>
			<label for="x">X</label>
			<input type="radio" id="x" name="genero"><br>
			
			<label for="correoElectronico">Correo:</label>
			<input type="email" id="correoElectronico" name="correoElectronico" required><br>
			
			<label for="domicilio">Domicilio:</label>
			<input type="text" id="domicilio" name="domicilio" required><br>
			
			<label for="provi">Provincia:</label>
			<select id="provi" name="provi" required>
				<option value="JUJUY">Jujuy</option>
				<option value="SALTA">Salta</option>
				<option value="TUCUMAN">Tucuman</option>
				<option value="CHACO">Chaco</option>
				<option value="FORMOSA">Formosa</option>
				<option value="MISIONES">Misiones</option>
				<option value="CORREINTES">Corrientes</option>
				<option value="SANTIAGO DEL ESTERO">Santiago del Estero</option>
				<option value="CATAMARCA">Catamarca</option>
				<option value="LA RIOJA">La Rioja</option>
				<option value="SAN JUAN">San Juan</option>
				<option value="MENDOZA">Mendoza</option>
				<option value="SAN LUIS">San Luis</option>
				<option value="CORDOBA">Córdoba</option>
				<option value="SANTA FE">Santa Fe</option>
				<option value="ENTRE RIOS">Entre Ríos</option>
				<option value="BUENOS AIRES">Buenos Aires</option>
				<option value="LA PAMPA">La Pampa</option>
				<option value="NEUQUEN">Neuquén</option>
				<option value="RIO NEGRO">Río Negro</option>
				<option value="CHUBUT">Chubut</option>
				<option value="SANTA CRUZ">Santa Cruz</option>
				<option value="TIERRA DEL FUEGO">Tierra del Fuego</option>
			</select><br>
			
			<label for="celular">Número celular:</label>
			<input type="number" id="celular" name="celular"><br>
			
			<label for="categorias">SELECCIONES CATEGORIAS DE INTERES</label><br>
			<label for="deportes">Deporte</label>
			<input type="checkbox" id="deportes" name="deportes"><br>
			<label for="tecno">Tecnologia</label>
			<input type="checkbox" id="tecno" name="tecno"><br>
			<label for="ciencia">Ciencia</label>
			<input type="checkbox" id="ciencia" name="ciencia"><br>
			<label for="cocina">Cocina</label>
			<input type="checkbox" id="cocina" name="cocina"><br>
			<label for="arte">Arte</label>
			<input type="checkbox" id="arte" name="arte"><br>
			
			<label for="sugerencias">Ingrese sugerencias para la empresa</label><br>
			<textarea rows="10" cols="25" id="sugerencias" name="sugerencias">
			
			</textarea><br>
			
			<label for="passw">Contraseña:</label>
			<input type="password" id="passw" name="passw" required><br>
			
			<label for="aceptarCondiciones">Acepto los Términos y Condiciones</label>
			<input type="checkbox" id="aceptarCondiciones" name="aceptarCondiciones" required><br>
			
			<label for="aceptarInfo">Acepto recibir información relativa a la Empresa</label>
			<input type="checkbox" id="aceptarInfo" name="aceptarInfo" required><br>
			
			<button type="submit">Enviar</button>
		</form>
	</body>
</html>