<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Ejemplo de pagina</title>
	</head>
	
	<body>
		<header>
			<h1>Bienvenidos a la materia de Programación Visual</h1>
		</header>
		
		<nav>
			<ul>
				<li><a href="https://www.fi.unju.edu.ar">FI UnJu</a></li>
				<li><a href="https://www.alumnos.unju.edu.ar/unju">Siu Guarani</a></li>
				<li><a href="https://www.virtual.unju.edu.ar">Aula Virtual</a></li>
			</ul>
		</nav>
		
		<main>
			<section id="Comienzo">
				<h2>Tipo de Cursada</h2>
				<p>Materia teorica/practica</p>
				<h3>Dias de clases Practica</h3>
				<ol>
					<li>Lunes</li>
					<li>Jueves</li>
					<li>Viernes</li>
				</ol>
				<h4>Dias de clase Teorica</h4>
				<ol>
					<li>Miercoles</li>
				</ol>
			</section>
		</main>
	
	</body>
</html>