<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Ejemplo de pagina</title>
	</head>
	
	<body>
		<header id="newencabezado">
			<h1>Bienvenidos a la materia de Programación Visual</h1>
			<link rel="stylesheet" href="../static/css/estilos.css">
		</header>
		
		<nav class="menu">
			<ul class="lista">
				<li ><a href="https://www.fi.unju.edu.ar" class="enlace">FI UnJu</a></li>
				<li ><a href="https://www.alumnos.unju.edu.ar/unju" class="enlace">Siu Guarani</a></li>
				<li ><a href="https://www.virtual.unju.edu.ar" class="enlace">Aula Virtual</a></li>
			</ul>
		</nav>
		
		<main class="principal">
			<section class="secciones">
				<h2 class="h2">Tipo de Cursada</h2>
				<p class="parrafo">Materia teorica/practica de segundo año de la carrera APU</p>
				<h3 class="h3">Dias de clases</h3>
				
				<table class="tabla">
					<tr>
						<th>Teoria</th>
						<th colspan="3">Practica</th>
					</tr>
					<tr>
						<td>Miercoles</td>
						<td>Lunes</td>
						<td>Jueves</td>
						<td>Viernes</td>
					</tr>
				</table>
			</section>
			
			<section class="secciones">
				<h2 class="h2">Profesores a cargo de la materia</h2>
				
				<h3 class="h3">Profesor de la Teoria</h3>
				<ul class="lista">
					<li>Vega, Ariel</li>
				</ul>
				
				<h3 class="h3">Profesores de la Práctica</h3>
				<ul class="lista">
					<li>Apaza Carolina</li>
					<li>Sosa Gustavo</li>
					<li>Rodriguez Juan Carlos</li>
				</ul>
			</section>
			
			<section class="secciones">
				<h2 class="h2">Sedes</h2>
				<p class="parrafo">La materia se dicta en varias sedes</p>
				
				<h3 class="h3">Sedes disponibles</h3>
				<ul class="lista">
					<li>San Salvador de Jujuy</li>
					<li>San Pedro</li>
					<li>La Quiaca</li>
				</ul>
			</section>
		</main>
		
		<div class="ordenamiento">
		<aside class="adicional">
			<img alt="Logo de la UnJu" src="../static/images/unju_escudo.png" class="imagen">
			<h2 class="h2nuevo">Enlace para la UnJu</h2>
			<a href="https://www.unju.edu.ar" class="enlace">FI UnJu</a><br>
		</aside>
		
		<footer id="foter">
			<p class="parrafonuevo">Contaco FI UnJu: info@fi.unju.edu.ar</p>
			<p class="parrafonuevo">Redes Sociales:</p>
			<ul class="lista">
				<li><a href="https://www.instagram.com/fiunju/" class="enlace">Instagram</a></li>
				<li><a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A" class="enlace">Youtube</a></li>
				<li><a href="https://www.linkedin.com/school/facultad-de-ingenieria-unju" class="enlace">Linkedin</a></li>
				<li><a href="https://www.facebook.com/fiunju/" class="enlace">Facebook</a></li>
			</ul>
		</footer>
		</div>
		
	</body>
</html>